*{
	box-sizing: border-box;
	border: 1px solid red;
}

body{
	display: grid;
	grid-template-rows: 1fr 5fr;
	min-height: 100vh;
}

h1{
	text-align: center;
}

.container{
	display: grid;
	grid-template-columns: 1.5fr 4fr;
}

.project-bar{
	padding: 10px;
}

.add-project-button{
	padding: 5px 15px;
}

.createdProject{
	margin: 5px 0;
}

.title-container{
	padding: 2px 5px;
	height: 100%;
	display: grid;
	grid-template-columns: 10fr 1fr;
}

.project-title{
	margin: 0;
}

.project-icon-container{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 5px;
}

.delete-project-icon,
.add-todo-icon{
	height: 25px;
	width: 35px;
}

.content-displayer{
	padding: 15px;
}

.todo-container{
	padding: 10px;
	margin-bottom: 10px;
}

.todo-display p{
	margin: 0;
}

.todo-display{
	padding: 5px;
	display: grid;
	grid-template-columns: 10fr 1fr;
	align-items: center;
}

.todo-icon-container{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
}

.expand-todo,
.delete-todo{
	height: 20px;
	width: 30px;
}

.detail-displayer{
	padding: 0 10px;
}

footer p{
	text-align: center;
}

.project-form-container{
	width: 250px;
	padding: 10px;
	border: 2px solid gray;
	border-radius: 10px;
	position: absolute;
	top: 20%;
	left: 4%;
	background-color: gray;
	box-shadow: 3px 4px 5px black;
}

.todo-form-container{
	padding: 10px;
	background-color: gray;
	border: 2px solid black;
	border-radius: 5px;
	position: absolute;
	top: 25%;
	left: 20%;
}

.project-form-container p,
.todo-form-container p{
	text-align: center;
}

#project-form div,
#todo-form div{
	margin-bottom: 10px;
}

input{
	width: 100%;
	border-radius: 3px;
}

.project-form-button,
.todo-form-button{
	padding: 5px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.project-form-button button,
.todo-form-button button{
	padding: 3px 15px;
	border-radius: 5px;
}
